* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-align: center;
}

/* Navbar styling */
.navbar {
    background-color: #111;  
    color: white;
    padding: 10px 30px;  
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 40px;  
    margin: 0;
}

.nav-list li {
    display: inline;
}

.nav-list a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.nav-list a:hover {
    text-decoration: underline;
}
